body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a, nav button {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.page {
  display: none;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.detail img {
  width: 200px;
}

button {
  margin-top: 5px;
  padding: 5px 10px;
}

body.dark {
  background: #121212;
  color: white;
}

body.dark .card {
  background: #1e1e1e;
}
