body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
  color: #222;
  transition: 0.3s;
}

header {
  background: #222;
  color: white;
  padding: 15px;
}

nav a, nav button {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  padding: 20px;
}

.page {
  display: none;
}

.card {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
}

button {
  margin-top: 5px;
  cursor: pointer;
}

/* DARK MODE */
body.dark {
  background: #121212;
  color: white;
}

body.dark header {
  background: #000;
}

body.dark .card {
  background: #1e1e1e;
}
